<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% firstname_class = "form-control" %>
    <% firstname_was_invalid = user.errors.include?(:firstname) %>

    <% if was_validated %>
      <% if firstname_was_invalid %>
        <% firstname_class << " is-invalid" %>
      <% else %>
        <% firstname_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: firstname_class, placeholder: "Enter firstname" %>
    <% if firstname_was_invalid %>
      <% user.errors.full_messages_for(:firstname).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% lastname_class = "form-control" %>
    <% lastname_was_invalid = user.errors.include?(:lastname) %>

    <% if was_validated %>
      <% if lastname_was_invalid %>
        <% lastname_class << " is-invalid" %>
      <% else %>
        <% lastname_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: lastname_class, placeholder: "Enter lastname" %>
    <% if lastname_was_invalid %>
      <% user.errors.full_messages_for(:lastname).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = user.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.text_field :status, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% user.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
