<%= form_with(model: @interest, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :event_id, value: @event.id %>

  <div class="form-group">
    <%= f.label :response %>

    <%= f.text_field :response, class: "form-control" %>
  </div>

  <%= f.submit "Create interest", class: "btn btn-block btn-outline-secondary" %>
<% end %>
